## PI DATA_03

1) Vamos a consultar cada una de las API creadas y subidas en el archivo "main.py." Posteriormente vamos a alojarlas en un DataFrame para manipularlo con PANDAS

- Circuitos

In [ ]:
from pandas import DataFrame
from urllib.request import urlopen
import json

url_circuitos = "http://127.0.0.1:8000/circuits" #Asignamos el url del API escogido para ser consumido

response_circuitos = urlopen(url_circuitos)
data_circuitos = json.loads(response_circuitos.read()) #Lo cargamos en una variable

json.dumps(data_circuitos) #transformamos el objecto Json a String

In [ ]:
circuitos_df = DataFrame(data_circuitos)

In [ ]:
circuitos_df.head()

- Constructores

In [ ]:
url_constructors = "http://127.0.0.1:8000/constructors" #Asignamos el url del API escogido para ser consumido

response_constructors = urlopen(url_constructors)

data_constructors = json.loads(response_constructors.read())

json.dumps(data_constructors, indent=1)

In [ ]:
constructors_df = DataFrame(data_constructors)

In [ ]:
constructors_df

- Lap_Times

In [ ]:
url_lap_times_total = "http://127.0.0.1:8000/lap_times_total" #Asignamos el url del API escogido para ser consumido

response_lap_times_total = urlopen(url_lap_times_total)
data_lap_times_total = json.loads(response_lap_times_total.read()) #Lo cargamos en una variable

json.dumps(data_lap_times_total) #transformamos el objecto Json a String

In [ ]:
lap_times_total_df = DataFrame(data_lap_times_total)

In [ ]:
lap_times_total_df.head()

- Pit_Stops

In [ ]:
url_pit_stops = "http://127.0.0.1:8000/pit_stops" #Asignamos el url del API escogido para ser consumido

response_pit_stops = urlopen(url_pit_stops)
data_pit_stops = json.loads(response_pit_stops.read()) #Lo cargamos en una variable

json.dumps(data_pit_stops) #transformamos el objecto Json a String

In [ ]:
pit_stops_df = DataFrame(data_pit_stops)

In [ ]:
pit_stops_df.head()

- Qualifying_Total

In [ ]:
url_qualifying_total = "http://127.0.0.1:8000/qualifying_total" #Asignamos el url del API escogido para ser consumido

response_qualifying_total = urlopen(url_qualifying_total)
data_qualifying_total = json.loads(response_qualifying_total.read()) #Lo cargamos en una variable

json.dumps(data_qualifying_total) #transformamos el objecto Json a String

In [ ]:
qualifying_total_df = DataFrame(data_qualifying_total)

In [ ]:
qualifying_total_df.head()

- Races

In [ ]:
url_races = "http://127.0.0.1:8000/races" #Asignamos el url del API escogido para ser consumido

response_races = urlopen(url_races)
data_races = json.loads(response_races.read()) #Lo cargamos en una variable

json.dumps(data_races) #transformamos el objecto Json a String

In [23]:
races_df = DataFrame(data_races)

In [24]:
races_df.head()

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...

Ahora que disponemos de los DataFrames, podemos empezar a manipular los datos con PANDAS

¿Año con mas carreras?

In [28]:
races_df.year.value_counts()

2021    23
2019    21
2016    21
2018    21
2012    20
        ..
1956     8
1957     8
1961     8
1950     7
1955     7
Name: year, Length: 72, dtype: int64

¿Piloto con mayor cantidad de primeros puestos?

In [38]:
qualifying_total_df.head(2)

,qualifyId,raceId,driverId,constructorId,numberr,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869

In [47]:
print(qualifying_total_df.groupby(['driverId']).mean().min())

qualifyId        588.000000
raceId            18.944444
constructorId      1.000000
numberr            2.000000
position           1.000000
dtype: float64

- Nombre del circuito mas corrido

In [54]:
races_df.describe()

            raceId         year        round    circuitId
count  1058.000000  1058.000000  1058.000000  1058.000000
mean    531.231569  1990.780718     8.382798    22.089792
std     308.165709    19.730088     5.000281    17.154605
min       1.000000  1950.000000     1.000000     1.000000
25%     265.250000  1976.000000     4.000000     9.000000
50%     529.500000  1992.000000     8.000000    18.000000
75%     793.750000  2008.000000    12.000000    32.000000
max    1073.000000  2021.000000    23.000000    77.000000